body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}
.col2{
  width: 90%;
  margin: 0 auto;
  background-color:#ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px; 
  padding: 20px ;
}
.col3{
  width: 90%;
  margin: 0 auto;
  background-color:#ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px; 
  padding: 20px ;
}
input[type=text]{
	box-sizing: border-box;
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	border:0;
	width:100%;
	border-bottom: 2px solid #87b1c5;
	background: #ffffff;
	border-radius: 2px; 
}
input[type=text]::placeholder {
	color: transition;
	display:none;
}
input[type=text]:focus {
	outline:none;
	border-bottom: 2px solid #87b1c5;
	box-shadow: 1px 1px 2px #98bccd, 0 0 20px #98bccd, 0 0 5px #98bccd;
}
button{
  text-align: center; 
  background-image: linear-gradient(#bad3de,#eef4f7);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px; 
  padding: 10px ;
  border: none;
  width: 50%;
}
button:hover {
  background: linear-gradient(to bottom, #87b1c5 21%, #bad3de 106%);
  box-shadow: 1px 1px 2px #98bccd, 0 0 25px #98bccd, 0 0 5px #98bccd;
}
